
#logo {
    font-size: 80px;
    font-family: 'Kdam Thmor Pro';
    text-align:center;
    
}

#logo5 {
    border-radius: 5px;
  
}

h6 {
    font-size:20px;
    font-family: 'Blaka';
}

.btn-close {
    font-size: 30px;
}

