
#logo {
    font-size: 60px;
    font-family: 'Kdam Thmor Pro';
    text-align:center;
    
}

.heading{
    
}

#logo5 {
  
}

h6 {
    font-size:20px;
    font-family: 'Blaka';
}

.btn-close {
    font-size: 30px;
}

.jhon {
    line-height: 1.5rem;
 
}

img {
    border-radius: 3px;
}

.nn {
    font-size: 30px;
    margin-top: -3.5rem;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: white;
    text-align: center;
}

